*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.sidebar{
    width: 150px;
    height: 935px;
    background: rgb(0, 0, 0);
    position: relative;
}
.sidebar ul{
    position: absolute;
    
}
.sidebar li{
    color: white;
    margin: 10px;
    border: 1px solid #ffffff;
    padding: 5px;
}
.content{
    width: 1768px;
    height: 935px;
    background: white;
}
.logo {
    text-align: center;
    margin: 45px;
}
.content img{
    width: 310px;
}
.text-top{
    background: #EFEFEF;
    margin: 20px 70px;
    padding: 20px 50px;
    text-align: center;
}

.col{
    display: flex;
}
.header p {
    font-size: 24px;
    
}
.drop{
    display:block;
    float:left;
    width:128px;
    height:128px;
    margin-top:5px;
    padding-right:8px;
    text-indent: -9000px;
    }
.cap1{
    background: url(./img/html-icon.png) 0 0 no-repeat;
    }
.cap2{
    background: url(./img/url-icon.png) 0 0 no-repeat;
}
.cap3{
    background: url(/img/css-icon.png) 0 0 no-repeat;
}
.col-l {
    margin: 20px;
}
.footer{
    position: absolute;
    width: 1768px;
    height: 79px;

}